
<!--BOXE -->
<div class="box-e grey" id="fourth">
  <div class="eveyboxe">
  <div class="dropdown clearfix pull-right">

    <button class="btn btn-default dropdown-toggle orderevey" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-exapanded="true">
    Order
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
      <li> <%= link_to("By Lower Bound", jobs_path(:order => "by_lower_bound")) %> </li>
      <li> <%= link_to("By Upper Bound", jobs_path(:order => "by_upper_bound")) %> </li>
      <li> <%= link_to("By Created Time", jobs_path) %> </li>
    </ul>


  </div>

  <h1 style="color:white;text-shadow:1px 1px 1px black;">Job Listing</h1>


  <table class="table table-boldered table-inverse">

  <thead class="thead-inverse">

  <tr style="text-align:center;">
    <td>Job Title</td>
    <td>Minimum Salary</td>
    <td>Maximum Salary</td>
    <td>Created at</td>
  </tr>

  </thead>


  <tbody style="text-align:center;">
    <% @jobs.each do |job| %>

    <tr style="text-align:center;">
      <td class="tdevey" style="font-size:18px; font-weight:bold; color:black;"><%= link_to(job.title, job_path(job))%></td>
      <td><%= job.wage_lower_bound %></td>
      <td><%= job.wage_upper_bound %></td>
      <td><%= job.created_at %></td>
    </tr>

  </tbody>
    <% end %>
  </table>

</div>
</div>
  <!--BOXE-end -->
