<style media="screen">
.outsidebox{
  position:relative;
}
  .box-a,.box-b,.box-c,.box-d,.box-e,.box-f{
width:100%;
height:675px;
overflow: auto;
clear:both;
position: relative;

  }
  .grey{
    background-color: grey;
  }
  .blue{
    background-color: skyblue;
  }
  .a{
font-size: 69px;
color:white;
font-weight: bold;
text-align: center;
margin-top: 160px;
  }
  p{
    color:white;
    text-align: center;
  }
  .box-a{
    background-image: url(http://eskipaper.com/images/black-backgrounds-11.jpg);
    background-size: cover;
  }
  .b-textbox{
    width: 40%;
    height: 523px;
    background-color: #181818;
    margin-top: 76px;
    margin-left: 8%;
    padding-top: 100px;
  }
  .b-textbox:hover{
    background-color: rgba(0,0,0,0.7);
  }
  .b-p{
    color: #a5a5a4;
    text-align: left;
  }
  .b-textboxinvisible{
    width:80%;

    margin-left: 10%;

  }
.small-title{
  color:white;
  font-size:48px;
}
.box-b{
  background-image: url(http://www.brainscape.com/blog/wp-content/uploads/2015/07/success.jpg );
  background-size: cover;
}
.box-c{
  background-image: url(https://assets.entrepreneur.com/content/16x9/822/20150724190206-success-focus-life-achievements.jpeg
);
background-size: cover;
}
.box-c-textbox{
  background-color: rgba(0,0,0,0.7);
  border: 10px solid white;
  padding: 20px;
  position: absolute;
  right:8%;
  top:105px;
  width:45%;

}
.box-c-textbox:hover{
  background-color: #181818;

}
.box-c-textbox-invisible{
  width:80%;
  text-align: center;
  font-size: 18px;
  color: #d9d9d9;
  margin: 0 auto;
}
.eveybtn:hover{
  background-color: black;
}
.box-d-textbox{
  width:85%;
  height:76%;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 6%;
}
.box-d{
  background-image: url(https://newevolutiondesigns.com/images/freebies/white-wallpaper-21.jpg);
  background-size: cover;
}
.box-d-left{
  width: 50%;
  height:100%;

  float: left;
}
.box-d-right{
  width:50%;
  height:100%;

  float: left;

}
.box-d-left1{
width: 80%;
text-align: center;
margin: 0 auto;
font-size:19px;

margin-top: 20%;
color: #a5a5a4;
}
.box-d-right1{
  width: 90%;

  text-align: left;
  margin: 0 auto;
  font-size: 19px;

  margin-top: 9%;
  color: #a5a5a4;
}
.eveyboxe{
  width: 85%;
  height:76%;
  margin: 0 auto;
}

thead{
  font-weight: bold;
  font-size: 16px;
  color:white;
  background: #312e32;
}
tbody{
  background-color: rgba(198,200,200,0.6);
}
.box-e{
  height: auto;
  background-image: url(http://www.artit-k.com/wp-content/uploads/2015/03/PaperColorMaterialDesign_Gray.png);
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 6%;
}
.box-f-text{


  background-color: rgba(0,0,0,0);
  height:40%;
  padding: 20px;
  position: absolute;
  right:8%;
  top:50%;

}
.text-f, .text-f a{
  text-decoration: none;
  font-size: 1.1em;
  list-style-type: none;
  color:#a5a5a4;
  line-height: 40px;
}
.text-f a:hover{
  color:white;
}
.box-f{
  background-image: url(http://www.wall321.com/thumbnails/detail/20120721/black%20and%20white%20black%20silhouette%20closed%20eyes%20faces%20black%20background%201920x1200%20wallpaper_www.wall321.com_28.jpg);
background-size: cover;
background-color: black;
height:700px;

}
</style>

<div class="outsidebox">

  <!-- BOXA-->
  <div class="box-a grey">
    <div class="a">
      BUILDING CAREERS,
      <br>LEADING TO SUCCESS.
      </div>
  <p>
  Career Partners ——Xinshengdaxue’s employment site.
  <br>Search jobs at Career Partners. Find work or recruit the ideal candidates.
  </p>

  </div>
      <!--BOXA-end -->



  <!--BOXB -->
  <div class="box-b blue">

<div class="b-textbox">
  <div class="b-textboxinvisible">
  <div class="b-title">
    <span style="color:white; font-size:18px;">Xinshengdaxue</span>
  </div>
  <div class="small-title">
    CAREER <br>PARTNERS
  </div>

    <p class="b-p" style="font-size: 18px;">
Career Partners is Xinshengdaxue’s
employment site. Not only can you
search jobs and recruit the ideal
candidates, but also find more about
Ruby on Rails and your career path.
    </p>
</div>

</div>

  </div>
      <!--BOXEB-end -->



  <!--BOXC -->
  <div class="box-c grey">
<div class="box-c-textbox">
  <div class="box-c-textbox-invisible">

      <h1>CAREER PARTNERS</h1>

<br>PHONE:
<br>+64 27 3196 191

<br><br>EMAIL:
<br>zhongwen322@gmail.com

<br><br>WECHAT:
<br>zhongweninri
<br><br>
<button type="button" name="button" class="btn btn-default eveybtn" style="background-color:#181818; font-size:20px; color:#a5a4a4;">
Email Us
</button>

  </div>
</div>
  </div>
      <!--BOXC-end -->


  <!-- BOXD-->
  <div class="box-d blue">
    <div class="box-d-textbox">
      <div class="box-d-left">
        <div class="box-d-left1">
<h1>Job Titles For <br>‘Ruby on Rails’ <br>Skill & Their <br>Remunerations</h1>

<br>Here’s a list of Job titles and their salaries for Ruby on Rails skills:


        </div>
      </div>
      <div class="box-d-right">
          <div class="box-d-right1">


Software Engineer Want $95,000
<br>Software Engineer Ruby $97,000
<br>Ruby ON Rails Engineer $95,000
<br>Ruby on Rail $99,000
<br>Junior Ruby Developer $66,000
<br>Senior Ruby Developer $106,000
<br>Ruby on Rails Developer $98,000
<br>Senior Javascript Web Developer $110,000
<br>Ruby Developer $87,000
<br>Ruby Software Engineer $87,000
<br>Ror Developer $107,000
<br>Stack Software Engineer $102,000
<br>Rails Hacker $87,000
<br>Rails Developer $90,000
<br>Web Application Engineer $102,000

          </div>
      </div>
    </div>

  </div>
      <!--BOXD-end -->


  <!--BOXE -->
  <div class="box-e grey">
    <div class="eveyboxe">
    <div class="dropdown clearfix pull-right">

      <button class="btn btn-default dropdown-toggle orderevey" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-exapanded="true">
      Order
        <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li> <%= link_to("By Lower Bound", jobs_path(:order => "by_lower_bound")) %> </li>
        <li> <%= link_to("By Upper Bound", jobs_path(:order => "by_upper_bound")) %> </li>
        <li> <%= link_to("By Created Time", jobs_path) %> </li>
      </ul>


    </div>

    <h1 style="color:white;text-shadow:1px 1px 1px black;">Job Listing</h1>


    <table class="table table-boldered table-inverse">

    <thead class="thead-inverse">

    <tr>
      <td>Job Title</td>
      <td>Minimum Salary</td>
      <td>Maximum Salary</td>
      <td>Created at</td>
    </tr>

    </thead>


    <tbody>
      <% @jobs.each do |job| %>

      <tr>
        <td><%= link_to(job.title, job_path(job))%></td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.created_at %></td>
      </tr>

    </tbody>
      <% end %>
    </table>

</div>
  </div>
    <!--BOXE-end -->
  <!--BOXF -->
  <div class="box-f blue">
<div class="box-f-text">
  <ul class="text-f">
    <li class="text-f"> <a href="#">JOB LISTING ○</a></li>
    <li class="text-f"><a href="#">ABOUT US ○</a></li>
    <li class="text-f"><a href="#">CONTACT US ○</a></li>
    <li class="text-f"><a href="#">CAREER PLAN ○</a></li>
  </ul>

</div>
  </div>
    <!--BOXF-end -->

</div>
