<style media="screen">
.btn-evey{
width: 60px;
font-weight: bold;
}
.btn-evey:hover{
background-color: #051754;
color: white;
}
thead{
  font-weight: bold;
  font-size: 16px;
  color:white;
  background: #312e32;
  text-align: center;
}
tbody{
  background-color: rgba(255,255,255,0.7);
  color: #312e32;
}
tbody:hover{
  color:black;
}
.web{
  background-image: #675c5b;
}

</style>


<div class="web">


<br>
<br>


<table class="table table-boldered">
  <thead>
    <tr>
      <td>Job Title</td>
      <td>Received Resume</td>
      <td>Minimum Salary</td>
      <td>Maximum Salary</td>
      <td>Management Option</td>
      <td>Created Time</td>
    </tr>

  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <tr>
  <td>
  <%= render_job_status(job) %>
  <%= link_to(job.title, admin_job_path(job)) %>
  </td>

  <td  style="text-align: center;"> <%= link_to(job.resumes.count, admin_job_resumes_path(job))%> </td>
  <td  style="text-align: center;"> <%= job.wage_lower_bound %> </td>
  <td  style="text-align: center;">  <%= job.wage_upper_bound %> </td>


      <td  style="text-align: center;">
  <%= link_to("", edit_job_path(job), :class => "fa fa-pencil")%> |
   <%= link_to("", admin_job_path(job), :class => "fa fa-trash-o", :method => :delete, :data => { :confirm => "Are you sure?" }) %> |

  <% if job.is_hidden %>
  <%= link_to("Publish", publish_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-default btn-evey")%>
  <% else %>

  <%= link_to("Hide", hide_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-default btn-evey") %>
  <% end %>

      </td>

      <td  style="text-align: center;">
  <%= job.created_at %>
      </td>

    </tr>
  </tbody>


  <% end %>

</table>

</div>
