<style media="screen">

</style>


<nav class="navbar navbar-default navbarevey" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Home</a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <% if !current_user %>
            <li><%= link_to("Sign up", new_user_registration_path) %></li>
            <li><%= link_to("Log in", new_user_registration_path) %></li>
            <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle= "dropdown">
                Hi!, <%= current_user.email %>
                <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                  <li><%= link_to("Admin Panel", admin_jobs_path)%></li>
                  <% end %>
                  <li><%= link_to("Sign out", destroy_user_session_path, method: :delete) %></li>

                </ul>
            </li>
<% end %>

        </li>

      </ul>

<!--新增栏目 -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
<a href="#first">|   ABOUT US   |</a>
    </li>

    <li class="dropdown">
  <a href="#second">|   CONTACT US   |</a>
    </li>

    <li class="dropdown">
<a href="#third">|   CAREER PLAN     |</a>
    </li>

    <li class="dropdown">
<a href="#fourth">|   JOB LISTING     |</a>
    </li>
  </ul>
</div>


      <!--新增栏目结束 -->
    </div>
  </div>

</nav>
