<!DOCTYPE html>
<html>
  <head>
    <title>JobListing3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
          <%= render "common/navbar" %>
      </div>

  <div class="row">
      <%= render "common/flashes" %>
</div>

<div class="row">
    <%= yield %>
</div>

        <%= render "common/searchbar" %>
    </div>

       <%= render "common/footer" %>
<%= render "common/banner" %>


  </body>
</html>
